.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); // CSS Grid (Unidad 1)
    gap: 25px;
}

.custom-card {
    background: $color-white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.05);
    border: none;
    @include transition-smooth; // Inyección de mixin

    &:hover {
        transform: translateY(-6px); // Efecto elevación (Unidad 3)
        box-shadow: 0 15px 30px -12px rgba(0, 0, 0, 0.15);
    }

    .card-img {
        height: 170px;
        background-size: cover;
        background-position: center;
    }

    .card-content {
        padding: 18px;
        
        h3 {
            font-size: 1.2rem;
            margin: 8px 0;
            font-family: $font-heading;
        }
        p {
            font-size: 0.9rem;
            color: $color-muted;
        }
    }

    .card-category {
        font-size: 0.7rem;
        color: $color-primary;
        font-weight: bold;
        text-transform: uppercase;
    }

    .card-date {
        font-size: 0.75rem;
        color: $color-muted;
        margin-top: 10px;
    }
}